<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="float-sm-left">
          &copy; Angular 2019
        </div>
        <div class="float-sm-right">
          <a class="" [routerLink]="['/terms-of-use']" routerLinkActive="router-link-active">Terms of
            use</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="" [routerLink]="['/privacy-policy']"
            routerLinkActive="router-link-active">Privacy policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
