<div class="card">
  <div class="display-image"></div>
  <div class="card-header">
    <h1>{{ pageTitle }}</h1>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="card-text">
        <div>
          A <strong>privacy policy</strong> is a statement or a legal document (in privacy law) that discloses some or
          all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a
          legal requirement to protect a customer or client's privacy. Personal information can be anything that can be
          used to identify an individual, not limited to the person's name, address, date of birth, marital status,
          contact information, ID issue, and expiry date, financial records, credit information, medical history, where
          one travels, and intentions to acquire goods and
          services.<sup>[1]</sup> In the case of a business it is often a statement that declares a party's policy on
          how it collects, stores, and releases personal information it collects. It informs the client what specific
          information is collected, and whether it is kept confidential, shared with partners, or sold to other firms
          or enterprises.<sup>[2]</sup> Privacy policies typically represent a broader, more generalized treatment, as
          opposed to data use statements, which tend to be more detailed and specific.<br><br>

          The exact contents of a certain privacy policy will depend upon the applicable law and may need to address
          requirements across geographical boundaries and legal jurisdictions. Most countries have their own
          legislation and guidelines of who is covered, what information can be collected, and what it can be used for.
          In general, data protection laws in Europe cover the private sector as well as the public sector. Their
          privacy laws apply not only to government operations but also to private enterprises and commercial
          transactions.<br><br>

          Many critics have attacked the efficacy and legitimacy of privacy policies found on the Internet. Concerns
          exist about the effectiveness of industry-regulated privacy policies. There are also questions about whether
          consumers understand privacy policies and whether they help consumers make more informed decisions. A 2007
          study by Carnegie Mellon University claimed "when not presented with prominent privacy information..."
          consumers were "…likely to make purchases from the vendor with the lowest price, regardless of that site's
          privacy policies".<sup>[3]</sup> However, the same study contends where private information is clearly
          presented, consumers prefer retailers who better protect their privacy and may "pay a premium to purchase
          from more privacy protective websites".
          <hr>
          <small>
            <ol>
              <li>
                McCormick, Michelle. "New Privacy Legislation." Beyond Numbers 427 (2003): 10-. ProQuest. Web. 27 Oct.
                2011
              </li>
              <li>
                Webfinance, Inc (2011). "Privacy Policy". Retrieved 23 October 2011
              </li>
              <li>
                Acquisti, Alessandro and Janice Tsai, Serge Egelman, Lorrie Cranor, "The Effect of Online Privacy
                Information on Purchasing Behavior: An Experimental Study" Carnegie Mellon University, 2007.
                Econinfosec.org
              </li>
            </ol>
          </small>.
        </div>
      </div>
    </div>
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>
